:root{
    --dark: orangered;
}


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.Navbar{
    justify-content: space-between;
}

.nav-list{
    justify-content: space-around;
    border-bottom: 1px solid whitesmoke;
}

.valign-wrapper{
    display: flex;
    align-items: center;
}

.navbar-container{
    margin: 0 10rem 0 2rem;
    padding: 3rem;
}

.nav-list li{
    padding: 2rem;
    list-style: none;
}

.nav-header{
    margin-left: 12rem;
}

.nav-cart{
    margin-left: 10rem;
}

.navbar-user{
    flex-direction: row;
    justify-content: space-around;
}

.navbar-user div{
    padding: 0 3rem;
}

.shoe-photo{
    margin: 0 0 0 15rem;
}

.photo-main{
    height: 400px;
    border-radius: 1rem;
}

.shoe-list{
    display: flex;
    justify-content: space-around;
}

.shoe-list li{
    height: 100px;
    list-style: none;
    margin-top: 1rem;
}

.photo-shoe{
    height: 80px;
    border-radius: 0.5rem;
}

.shoe-photo{
    display: flex;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 10rem;
}